<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ttrpg-api</title>
    {% load static %}
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <main>
        <h1>REST API for managing character sheets for tabletop RPGs</h1>
        <h3><a href="{% url 'v1:api-root' %}">go to browsable version of API</a></h3>
        <ul>
            <li>Currently only supports the free ruleset of the DND 5e SRD</li>
            <li>Using my <a href="https://github.com/tassaron/dnd-character">dnd-character</a> Python library</li>
            <li>This is my first Django project created for practice</li>
        </ul>
        <p>
            <a href="https://rainey.tech">made by tassaron</a>
        </p>
    </main>
</body>
</html>